[submodule "backward"]
	path = thirdparty/backward
	url = https://github.com/bombela/backward-cpp.git
[submodule "cotire"]
	path = thirdparty/cotire
	url = https://github.com/sakra/cotire.git
[submodule "catch"]
	path = thirdparty/catch
	url = https://github.com/0x1997/Catch.git
[submodule "pcg"]
	path = thirdparty/pcg
	url = https://github.com/imneme/pcg-cpp.git
